<article class="media">
	<div class="media-content">
		<div class="content">
			<p>
				{% for author in item.authors %}
				{% if author == site.title %}<b>{{ author }}</b>{% else %}{{ author }}{% endif %}{% if forloop.last ==
				false %}, {% else %}.{% endif %}
				{% endfor %}
				<br>
				<em>{{ item.title }}</em>.
				{% if item.journal %}
				{{ item.journal }}.
				{% endif %}
				{{ item.year }}.
				{% if item.misc %}
				<b>{{ item.misc }}</b>
				{% endif %}
			
				{%if item.award %}
				<!-- <br> -->
				<span class="award">
				<i class="fa fa-trophy"></i>&nbsp;{{item.award}}
				</span>
				{% endif %}

				<br>
				{% if item.tags %}
				{% for tag in item.tags %}
				{% if tag.link %}
				<a class="tag" href="{{ tag.link }}">{{ tag.tag }}</a>
				{% else %}
				<span class="tag">{{ tag.tag }}</span>
				{% endif %}
				{% endfor %}
				{% endif %}
			</p>
		</div>
	</div>
</article>